.text-decorator-none{
    text-decoration: none;
}

.marginLeft{
    background-color: #0548ac !important;
}

.btndeletar{
    margin-right: 20px !important;
    background-color: #feba02 !important;
}

.cards{
    background: #ffffffaf!important;
}

.anexo{
    width: 200px;
    height: 250px;
}

.resposta{
    color: blue!important;
    margin-left: 10px;
}