.cursor {
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.text-decorator-none {
    text-decoration: none;
    color: white!important;
}


.titulos {
    color: rgb(233, 231, 231) !important;
}

body {
    background-color: #ffffffcc;
}

.bot4{
    text-decoration: none!important;
    border-color: #FFC234!important;
    background: #FFC234!important;
    color: #000000!important;
}

.padding-logo {
    margin: 0% !important;
}

.barra{
    background-color: #8D2E87!important;
}