.textos1{
   font-weight: bold !important;
   text-align: center;
}

.imagem{
    background-image: url(https://i.ibb.co/f26s73Q/pngwing-com-6.png);
    background-repeat: no-repeat !important;
   
    width: 100vh !important;
    min-height: 100vh !important;
    background-size: cover !important;
    background-position: center;
}

.text-decorator-none{
    text-decoration: none;
}

.botao1{
    background: #FFC234 !important;
    color: rgb(6, 5, 5) !important;
    font-weight: bold !important;
}

.MuiFormControl-root{
    background-color: rgba(255, 255, 255, 0.452);
   
}

