.text-decorator-none2{
    text-decoration: none!important;
}

.text{
font-family: 'Poppins' !important;
font-style: Black italic !important;
font-weight: 500 !important;
font-size: 12px !important;
line-height: 18px !important;

height: 10em !important;
display: flex !important;
align-items: center !important
}

.fixar{
position: static;
bottom: 0;
width: 90%;
text-align: center;

background: #D76DF1;
border: 1px solid #FFC234;
box-sizing: border-box;
}