.box1{
    background-color: #3d3f46cc;
    height: 120px;
}

.box2{
    background-color: #3d3f46ec;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
   color: white;
}