.caixa{
background: url(https://i.ibb.co/k6ZN4k2/fundo-home.png) !important;
background-size: cover !important;
}

.botao{
    border-color: white !important;
    background-color: #ffc234!important;
    color: black !important;
}

.caixa1{
position: absolute;
width: 520px;
height: 579px;
left: 849px;
top: 0px;
    padding-bottom: 250px;
}

.caixa2{
position: absolute;
width: 300px;
height: 300px;
left: 0px;
top: 100px;

background: #D76DF1;
box-shadow: 2.88667px 5.77333px 7.21667px rgba(0, 0, 0, 0.6);
border-radius: 14.4333px;
}

.grid2{
position: relative;





}