.caixa{
    background-color: #ffffff00;
}

.titulo{
   color: rgb(0, 0, 0) !important;
   font-weight: bold !important;
}

.botao{
    border-color: white !important;
    background-color: #ffc234!important;
    color: black !important;
}

.postagens{
    background-color: white;
}


.imagemhome{
    background-image: url(https://i.ibb.co/GFbYc1B/pngwing-com-5.png);
    background-repeat: no-repeat !important;
    width: 80vh !important;
    min-height: 80vh !important;
    background-position: center;
}

.imagemhome2{
    background-repeat: no-repeat !important;
    width: 50vh !important;
    min-height: 50vh !important;
    background-position: center;
}

.caixa1{
    padding-bottom: 250px;
}

body{
    background-color: #8d2e873e;
}
