.caixa{
    background-color: #ffffff00;
}

.titulo{
   color: rgb(0, 0, 0) !important;
   font-weight: bold !important;
}

.botao{
    border-color: white !important;
    background-color: #ffc234!important;
    color: black !important;
}

.postagens{
    background-color: white;
}


.imagemhome{
    background-image: url(https://i.ibb.co/z6tNGYK/pngwing-com-7.png);
    background-repeat: no-repeat !important;
    width: 100vh !important;
    min-height: 100vh !important;
    background-size: cover !important;
    background-position: center;
}

.imagemhome2{
    background-repeat: no-repeat !important;
    width: 130vh !important;
    min-height: 100vh !important;
    background-size: cover !important;
    background-position: center;
}

.caixa1{
    padding-bottom: 250px;
}
