.box-texto{
  padding-top: 85px;
  color: #505050!important;
  font-weight: bold !important;
  font-family: 'Source Sans Pro', sans-serif!important;
  font-size: 65px!important;
}

.box-fotos{
  height: 300px !important;
  width: 250px !important;
  margin-left: 10px;
  border-radius: 30px;
}

.icones{
  font-size: 700 !important;
}

.box-icones{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ff0000!important;
}

.espaco-letras{
  letter-spacing: 1px!important;
  font-size: 25px!important;
}
.logo-integrare{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.padding-bot{
  padding-bottom: 70px;
}
