.botao{
    text-decoration:  none !important;
    margin-left: 20px !important;
    font-weight: bold!important;
}

.botao2{
    text-decoration:  none !important;
    background-color: #ED4245!important;
    font-weight: bold!important;
}

.MuiBox-root-18 {
    align-items: center;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 100px;
}

.imagem2{
    background-image: url(https://i.ibb.co/Xs9sfPt/fundo-cadastrar-1.png);
    background-repeat: no-repeat !important;
    width: 100vh !important;
    min-height: 100vh !important;
    background-size: cover !important;
    background-position: center;
}

.form-tipo{
    background-color: rgba(240, 248, 255, 0);
}

